<h3 class="h3 mb-2 text-gray-800">Agenda</h3>

<button type="button" class="btn btn-primary mb-2 text-end" data-bs-toggle="modal" data-bs-target="#modalAgenda" onclick="limparForm()">
    <i class="fa fa-plus"></i> Novo
</button>

<table id="tbl-Agenda" class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="col-1">#</th>
            <th>Data</th>
            <th>Serviço</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalAgenda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalAgendaLabel">Agenda #<span class="inputFormAgenda" id="id"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAgenda" role="form">
            <div class="modal-body row">
                <div class="form-group col-12">
                    <small><label class="mb-0">Serviço</label></small>
                    <select  class="form-control inputFormAgenda" id="servico" required></select>
                </div>

                <div class="form-group col-12">
                    <small><label class="mb-0">Data</label></small>
                    <input type="datetime-local" class="form-control inputFormAgenda" id="data" placeholder="Data" required>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <button type="submit" class="col-12 btn btn-primary btn-block" id="btn-salvar">Agendar</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>



<script src="../app/views/agenda/agenda_cliente.js"></script>