<div class="container text-center mt-5">
    <img class="mb-3" src="../app/img/logo-192x192.png" width="98"/>

    <div class="row">
        <div class="col-12 mb-3">
            <input id="login-usuario" class="form-control form-control-lg" type="text" placeholder="Usuário">
        </div>

        <div class="col-12 mb-3">
            <input id="login-senha" class="form-control form-control-lg" type="password" placeholder="Senha">
        </div>

        <div class="col mb-3">
            <button id="btn-login" class="col-12 btn btn-secondary btn-block">Entrar</button>
        </div>
    </div>
</div>

<script src="../app/views/login/login.js"></script>